@import "../../theme/base.scss";

.slider-wrapper {
  background-color: $base;
  padding: 18px 16px;
  border-radius: $rad;

  .slider-title {
    font-family: "Inter";
    font-size: $normal;
    color: $text;
  }

  .slider-icon {
    font-size: $larger;
    margin: 0 18px 0 4px;

    &.volume {
      color: $teal;
    }

    &.brightness {
      color: $yellow;
    }
  }

  .osd-scale {
    trough {
      background-color: $trough;
      border-radius: 10px;
      min-height: 16px;
    }

    highlight {
      border-radius: 10px;
      min-height: 14px;
    }

    &.volume highlight {
      background-image: linear-gradient(to right, $teal, $blue);
    }

    &.brightness highlight {
      background-image: linear-gradient(to right, $yellow, $peach);
    }

    slider {
      background-color: #ffffff;
      border-radius: 50%;
      min-height: 22px;
      min-width: 23px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
  }
}
