$background: #19120c;
$error: #ffb4ab;
$error_container: #93000a;
$inverse_on_surface: #372f28;
$inverse_primary: #865219;
$inverse_surface: #efe0d5;
$on_background: #efe0d5;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_primary: #4a2800;
$on_primary_container: #ffdcbf;
$on_primary_fixed: #2d1600;
$on_primary_fixed_variant: #6a3b01;
$on_secondary: #412c18;
$on_secondary_container: #ffdcbf;
$on_secondary_fixed: #291806;
$on_secondary_fixed_variant: #59422d;
$on_surface: #efe0d5;
$on_surface_variant: #d5c3b6;
$on_tertiary: #2b340f;
$on_tertiary_container: #dde8b3;
$on_tertiary_fixed: #171e00;
$on_tertiary_fixed_variant: #414b24;
$outline: #9e8e81;
$outline_variant: #51443a;
$primary: #fdb876;
$primary_container: #6a3b01;
$primary_fixed: #ffdcbf;
$primary_fixed_dim: #fdb876;
$scrim: #000000;
$secondary: #e2c0a4;
$secondary_container: #59422d;
$secondary_fixed: #ffdcbf;
$secondary_fixed_dim: #e2c0a4;
$shadow: #000000;
$source_color: #ac7339;
$surface: #19120c;
$surface_bright: #403830;
$surface_container: #261e18;
$surface_container_high: #312822;
$surface_container_highest: #3c332c;
$surface_container_low: #211a14;
$surface_container_lowest: #130d07;
$surface_dim: #19120c;
$surface_tint: #fdb876;
$surface_variant: #51443a;
$tertiary: #c1cc99;
$tertiary_container: #414b24;
$tertiary_fixed: #dde8b3;
$tertiary_fixed_dim: #c1cc99;
