$background: #12140e;
$error: #ffb4ab;
$error_container: #93000a;
$inverse_on_surface: #2f312a;
$inverse_primary: #4e6629;
$inverse_surface: #e3e3d8;
$on_background: #e3e3d8;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_primary: #223600;
$on_primary_container: #d0eda1;
$on_primary_fixed: #121f00;
$on_primary_fixed_variant: #374d13;
$on_secondary: #2b331d;
$on_secondary_container: #dde7c6;
$on_secondary_fixed: #161e0a;
$on_secondary_fixed_variant: #414a32;
$on_surface: #e3e3d8;
$on_surface_variant: #c5c8b9;
$on_tertiary: #003733;
$on_tertiary_container: #bcece6;
$on_tertiary_fixed: #00201e;
$on_tertiary_fixed_variant: #1f4e4a;
$outline: #8f9285;
$outline_variant: #45483d;
$primary: #b4d087;
$primary_container: #374d13;
$primary_fixed: #d0eda1;
$primary_fixed_dim: #b4d087;
$scrim: #000000;
$secondary: #c1caac;
$secondary_container: #414a32;
$secondary_fixed: #dde7c6;
$secondary_fixed_dim: #c1caac;
$shadow: #000000;
$source_color: #2b3022;
$surface: #12140e;
$surface_bright: #383a32;
$surface_container: #1e2019;
$surface_container_high: #292b23;
$surface_container_highest: #33362e;
$surface_container_low: #1a1c16;
$surface_container_lowest: #0d0f09;
$surface_dim: #12140e;
$surface_tint: #b4d087;
$surface_variant: #45483d;
$tertiary: #a0d0ca;
$tertiary_container: #1f4e4a;
$tertiary_fixed: #bcece6;
$tertiary_fixed_dim: #a0d0ca;
