$background: #0f1417;
$error: #ffb4ab;
$error_container: #93000a;
$inverse_on_surface: #2c3134;
$inverse_primary: #1b6585;
$inverse_surface: #dfe3e7;
$on_background: #dfe3e7;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_primary: #003549;
$on_primary_container: #c3e8ff;
$on_primary_fixed: #001e2c;
$on_primary_fixed_variant: #004c68;
$on_secondary: #20333e;
$on_secondary_container: #d1e5f4;
$on_secondary_fixed: #0a1e28;
$on_secondary_fixed_variant: #364955;
$on_surface: #dfe3e7;
$on_surface_variant: #c0c7cd;
$on_tertiary: #322c4c;
$on_tertiary_container: #e6deff;
$on_tertiary_fixed: #1c1736;
$on_tertiary_fixed_variant: #484264;
$outline: #8a9297;
$outline_variant: #41484d;
$primary: #8fcef3;
$primary_container: #004c68;
$primary_fixed: #c3e8ff;
$primary_fixed_dim: #8fcef3;
$scrim: #000000;
$secondary: #b5c9d7;
$secondary_container: #364955;
$secondary_fixed: #d1e5f4;
$secondary_fixed_dim: #b5c9d7;
$shadow: #000000;
$source_color: #3887ad;
$surface: #0f1417;
$surface_bright: #353a3d;
$surface_container: #1c2023;
$surface_container_high: #262b2e;
$surface_container_highest: #313539;
$surface_container_low: #181c1f;
$surface_container_lowest: #0a0f12;
$surface_dim: #0f1417;
$surface_tint: #8fcef3;
$surface_variant: #41484d;
$tertiary: #cac1ea;
$tertiary_container: #484264;
$tertiary_fixed: #e6deff;
$tertiary_fixed_dim: #cac1ea;
