$rad: 14px;
$xsmall: 10px;
$small: 12px;
$normal: 14px;
$large: 16px;
$larger: 18px;

$glass: rgba(230, 231, 237, 0.85);
$trough: rgba(108, 110, 117, 0.12);

@import "colors-matugen.scss";

$text: $on_surface;
$subtext1: $on_surface_variant;
$subtext0: $on_surface_variant;
$overlay2: $outline;
$overlay1: $outline_variant;
$overlay0: $outline_variant;
$surface2: $surface_container_high;
$surface1: $surface_container_highest;
$surface0: $surface_container_low;
$base: $surface;
$mantle: $surface_container;
$crust: $surface_container_lowest;
$glass: transparentize($surface, 0.15);
$trough: transparentize($on_surface, 0.88);
